<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/general_style.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="index_buttons">
      <div class="webpage_title"> Bookmark Manager </div>
      <form action="/bookmarks/new" method="GET" class="main_button">
        <input type="submit" value="Add bookmark" class="button_text">
      </form>
      <form action="/bookmarks/delete" method="GET" class="main_button">
        <input type="submit" value="Delete bookmark" class="button_text">
      </form>
      <form action="/bookmarks/edit" method="GET" class="main_button">
        <input type="submit" value="Update bookmark" class="button_text">
      </form>
      <form action="/comments/new" method="GET" class="main_button">
        <input type="submit" value="Comment Bookmark" class="button_text">
      </form>
      <form action="/tags/new" method="GET" class="main_button">
        <input type="submit" value="Tag Bookmark" class="button_text">
      </form>
      <form action="/tags/show" method="GET" class="main_button">
        <input type="submit" value="Bookmarks by Tags" class="button_text">
      </form>
    </div>
    <ul>
    <div class="links">
      <p>
        <% @links.each do |link| %>
            <h2> <a href="<%= link.url %>"><div class="single_link"><%= link.id %>. <%= link.title %></a></h2></div>

            <h3> Comments: </h3>
            <% @comments.each do |comment| %>
              <% if comment.link_id == link.id %>
                <h4> <li> <%= comment.text %> </h4>
              <% end %>
            <% end %>

            <h3> Tags: </h3>
            <% @pairs.each do |pair| %>
              <% @tags.each do |tag| %>
                <% if pair['link_id'] == link.id %>
                  <h4>  <%= tag.content if tag.id == pair['tag_id']  %> </h4>
                <% end %>
              <% end %>
            <% end %>

        <% end %>
        </p>
    </ul>
  </div>

  </body>
</html>
